@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    outline: 0px solid red;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

.link-styles {
    color: var(--text-color);
    text-decoration: none;
}

.link-styles:hover {
    color: var(--text-color);
}

html {
    scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color)
}

:root {
    --primary-color: ##181818;
    --panel-color: #FFF;
    --text-color: #181818;
    --black-light-color: #181818;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    /* --tran-05: all 0.5s ease; */
    --tran-05: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease
    /* overflow: hidden !important */
}
.body{
    /* overflow: hidden !important */
}
.body.dark {
    --primary-color: ##181818;
    /* --primary-color: #252158; */
    --panel-color: #242526;
    /* --panel-color: #252158; */
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all .3s ease
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1
}

::-webkit-file-upload-button {
    background: #252158;
    color: white;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-color: #FF4B2B;
    transition: all 0.15s ease;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #fff;
    

}

.body.dark .activity-data::-webkit-scrollbar-thumb:hover,
.body.dark::-webkit-scrollbar-thumb:hover {
    background: #3a3b3c
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05)
}

nav.close {
    width: 73px
}

nav .logo-name {
    display: flex;
    align-items: center
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05)
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

li {
    margin-left: -30px !important
}

.menu-items li {
    list-style: none !important
}

.menu-items li .link-styles {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative
}

.nav-links li .link-styles:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color)
}

.body.dark li .link-styles:hover:before {
    background-color: var(--text-color)
}

.menu-items li .link-styles .navbarLogo {
    font-size: 24px;
    min-width: 45px;
    margin-left: 30px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color)
}

.menu-items li .link-styles .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    margin-left: 3px;
    transition: var(--tran-05)
}

nav.close li .link-styles .link-name {
    opacity: 0;
    pointer-events: none
}

.nav-links li .link-styles:hover .link-name,
.nav-links li .link-styles:hover .navbarLogo {
    color: var(--primary-color)
}

.body.dark .nav-links li .link-styles:hover .link-name,
.body.dark .nav-links li .link-styles:hover .navbarLogo {
    color: var(--text-color)
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color)
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color)
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03)
}

.body.dark .switch:before {
    left: 20px
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    /* width: calc(100% - 250px); */
    padding: 10px 14px;
    transition: var(--tran-05);
    
}

nav.close~.dashboard {
    left: 0px;
    width: calc(100% - 0px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 50px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10
}

nav.close~.dashboard .top {
    left: 0px;
    width: calc(100% - 0px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: 0
}

.top .search-box .search-logo {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color)
}

.top img {
    width: 40px;
    border-radius: 50%
}

.dashboard .dash-content {
    padding-top: 20px
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0 0px 0
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 0px
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100% */
}

.activity .activity-data {
    display: flex
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px
}


@media (max-width:768px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px
    }

    #videoPlayer {
        height: 25vh
    }

    .settings-input-wrap-input100 {
        width: 100%
    }
}

@media (min-width:768px) {
    #videoPlayer {
        height: 88vh
    }

    .settings-input-wrap-input100 {
        width: 50%
    }
}
























.user-details {
    display: flex;
    align-items: center
}

.userpicture i {
    color: var(--black-light-color);
    font-size: 2rem
}

.username {
    margin-right: 10px;
    color: var(--text-color)
}

.video-block .mb-3 {
    margin-bottom: 30px !important
}

.video-card-image {
    border-radius: 2px;
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative
}

.time {
    background: #f5234a none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    opacity: .7;
    padding: 0 6px;
    position: absolute;
    right: 5px
}

.video-card:hover .time {
    opacity: unset
}

.video-card-image img {
    width: 100%
}

.play-icon {
    opacity: 0;
    position: absolute
}

.play-icon .fas {
    bottom: 0;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px
}

.video-card:hover .play-icon {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 0;
    color: #fff;
    font-size: 35px;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition-duration: .4s
}

.video-title .link-styles {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none
}

.video-title {
    text-align: left;
    margin-bottom: 5px
}

.video-page {
    font-size: .85rem;
    color: var(--text-color)
}

.video-page .link-styles {
    font-size: .85rem;
    color: var(--text-color)
}

.video-view {
    color: #acacac;
    font-size: 10px;
    font-weight: 500;
    margin: 2px 0 0;
    color: var(--text-color)
}

.video-card {
    background: #1c1c1c none repeat scroll 0 0;
    border-radius: 2px;
    transition-duration: .4s
}

.video-card-body {
    padding: 12px
}

.video-card-list .video-card-image {
    float: left;
    height: 77px;
    margin: 0 12px 0 0;
    width: 122px
}

.video-card-list .video-card-body {
    padding: 0
}

.video-card-list {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%
}

.video-card-list .video-card-body .video-title .link-styles {
    font-size: 13px
}

.video-card-list .video-card-body .video-title {
    line-height: 17px
}

.video-card-list .video-card-body .right-action {
    opacity: 0
}

.video-card-list:hover .video-card-body .right-action {
    opacity: unset
}

#videoPlayer {
    margin-top: 70px !important;
    object-fit: initial;
    width: 100%
}

.stream {
    display: flex
}

.settings-input-wrap-input100 {
    position: relative;
    z-index: 1;
    margin-bottom: 10px
}

.settings-input label {
    color: var(--text-color)
}

.settings-login100-form-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: fit-content;
    height: 50px;
    border-radius: 25px;
    background: #252158;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.settings-login100-form-btn:hover {
    background: #252158;
    border: 1px solid #252158;
    color: #fff;
}

.settings-login100-form-btn .link-styles {
    color: #fff
}

.toggle-password {
    position: absolute;
    top: 51%;
    right: 3em;
    cursor: pointer;
    user-select: none;
    z-index: 10
}

.coming-soon {
    color: var(--text-color)
}

.block {
    display: none
}

.ffss {
    color: var(--text-color)
}

.notFound {
    display: none;
    color: var(--text-color)
}

.resultFound {
    display: block
}

.cardName {
    font-family: Poppins !important;
}

.fffsplsworkk {
    display: flex;
    /*align-items: center;
    width: 100%; */
}

.imageBox {
    width: 100%;
    margin-left: 20px;
    /* w-full */
}