/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.userAuth {
    overflow: hidden
}

a {
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: 0 !important
}

a:hover {
    text-decoration: none;
    color: #252158
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0
}

li,
ul {
    margin: 0;
    list-style-type: none
}

.social-login i {
    padding: 10px;
    border-radius: 50%
}

.social-login i:hover {
    box-shadow: rgba(0, 0, 0, .07) 0 1px 2px, rgba(0, 0, 0, .07) 0 2px 4px, rgba(0, 0, 0, .07) 0 4px 8px, rgba(0, 0, 0, .07) 0 8px 16px, rgba(0, 0, 0, .07) 0 16px 32px, rgba(0, 0, 0, .07) 0 32px 64px
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent
}

.google {
    border: 1px solid grey
}

.facebook {
    border: 1px solid grey
}

.fa-facebook-square {
    color: #385185
}

.fa-instagram {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    -webkit-background-clip: text
}

.fa-github {
    color: #000
}

input {
    outline: 0;
    border: none
}

textarea {
    outline: 0;
    border: none
}

input:focus,
textarea:focus {
    border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder {
    color: transparent
}

textarea:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder {
    color: #999
}

input:-moz-placeholder {
    color: #999
}

input::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

textarea::-webkit-input-placeholder {
    color: #999
}

textarea:-moz-placeholder {
    color: #999
}

textarea::-moz-placeholder {
    color: #999
}

textarea:-ms-input-placeholder {
    color: #999
}

button {
    outline: 0 !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px
}

.login100-pic {
    width: 100%
}

.login100-pic img {
    max-width: 100%
}

.login-form {
    background-color: #242526;
    background-size: cover;
    background-position: center
}

.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.login100-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .25) 0 25px 50px -12px;
    width: 100%;
    padding: 3%
}

.login100-form-title {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px
}

.input100 {
    font-weight: medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: #252158;
    opacity: .8
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #252158;
    padding-left: 28px
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px
}

.login100-form-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #252158;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.login100-form-btn:hover {
    background: #fff;
    border: 1px solid #252158;
    color: #000
}

@media (max-width:992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px
    }

    .login100-pic {
        width: 35%
    }
}

@media (max-width:768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px
    }

    .login100-pic {
        display: none
    }

    .login100-form {
        width: 90%
    }
}

@media (min-width:768px) {
    .login100-form {
        width: 50%
    }
}

@media (max-width:576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px
    }
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-weight: medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media (max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

.stream-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 20px
}

.code-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 0
}

.code {
    border-radius: 5px;
    font-size: 1rem;
    height: 80px;
    width: 60px;
    border: 1px solid #eee;
    outline-width: medium;
    outline-color: #ddd;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
    margin-left: 10px;
    padding: 0
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.code:valid {
    border-color: #252158;
    box-shadow: rgba(0, 0, 0, .16) 0 10px 36px 0, rgba(0, 0, 0, .06) 0 0 0 1px
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px
}

@media (max-width:600px) {
    .code {
        font-size: 60px;
        height: 80px;
        max-width: 70px
    }
}

.social-btn .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px
}

.social-btn .btn i {
    float: left;
    margin: 4px 15px 0 5px;
    min-width: 15px
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.userAuth {
    overflow: hidden
}

a {
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: 0 !important
}

a:hover {
    text-decoration: none;
    color: #252158
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0
}

li,
ul {
    margin: 0;
    list-style-type: none
}

.social-login i {
    padding: 10px;
    border-radius: 50%
}

.social-login i:hover {
    box-shadow: rgba(0, 0, 0, .07) 0 1px 2px, rgba(0, 0, 0, .07) 0 2px 4px, rgba(0, 0, 0, .07) 0 4px 8px, rgba(0, 0, 0, .07) 0 8px 16px, rgba(0, 0, 0, .07) 0 16px 32px, rgba(0, 0, 0, .07) 0 32px 64px
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent
}

.google {
    border: 1px solid grey
}

.facebook {
    border: 1px solid grey
}

.fa-facebook-square {
    color: #385185
}

.fa-instagram {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    background-clip: text;
    -webkit-background-clip: text
}

.fa-github {
    color: #000
}

input {
    outline: 0;
    border: none
}

textarea {
    outline: 0;
    border: none
}

input:focus,
textarea:focus {
    border-color: transparent !important
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

input:focus::-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder {
    color: transparent
}

textarea:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder {
    color: transparent
}

textarea:focus::-moz-placeholder {
    color: transparent
}

textarea:focus:-ms-input-placeholder {
    color: transparent
}

input::-webkit-input-placeholder {
    color: #999
}

input:-moz-placeholder {
    color: #999
}

input::-moz-placeholder {
    color: #999
}

input:-ms-input-placeholder {
    color: #999
}

textarea::-webkit-input-placeholder {
    color: #999
}

textarea:-moz-placeholder {
    color: #999
}

textarea::-moz-placeholder {
    color: #999
}

textarea:-ms-input-placeholder {
    color: #999
}

button {
    outline: 0 !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px
}

.login100-pic {
    width: 100%
}

.login100-pic img {
    max-width: 100%
}

.login-form {
    background-color: #242526;
    background-size: cover;
    background-position: center
}

.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

.login100-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .25) 0 25px 50px -12px;
    width: 100%;
    padding: 3%
}

.login100-form-title {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px
}

.input100 {
    font-weight: medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0;
    color: #252158;
    opacity: .8
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow .5s ease-in-out forwards;
    animation: anim-shadow .5s ease-in-out forwards
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0 0 70px 25px;
        opacity: 0
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #252158;
    padding-left: 28px
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px
}

.login100-form-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #252158;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.login100-form-btn:hover {
    background: #fff;
    border: 1px solid #252158;
    color: #252158
}

@media (max-width:992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px
    }

    .login100-pic {
        width: 35%
    }
}

@media (max-width:768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px
    }

    .login100-pic {
        display: none
    }

    .login100-form {
        width: 90%
    }
}

@media (min-width:768px) {
    .login100-form {
        width: 50%
    }
}

@media (max-width:576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px
    }
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-weight: medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f06a";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media (max-width:992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

.stream-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 20px
}

.code-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 0
}

.code {
    border-radius: 5px;
    font-size: 1rem;
    height: 80px;
    width: 60px;
    border: 1px solid #eee;
    outline-width: medium;
    outline-color: #ddd;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
    margin-left: 10px;
    padding: 0
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.code:valid {
    border-color: #252158;
    box-shadow: rgba(0, 0, 0, .16) 0 10px 36px 0, rgba(0, 0, 0, .06) 0 0 0 1px
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px
}

@media (max-width:600px) {
    .code {
        font-size: 60px;
        height: 80px;
        max-width: 70px
    }
}

.social-btn .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px
}

.social-btn .btn i {
    float: left;
    margin: 4px 15px 0 5px;
    min-width: 15px
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc
}

.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1
}